.name {
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    background: #300a24;
}

.col:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff;
}

.col:active {
    transform: scale(0.9);
    box-shadow: 0 0 0;
}
