.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 2px solid #000;
    font-size: 30px;
    padding: 5px 0;
    background: rgba(0, 0, 139, 0.7);
    color: #fff;
    box-shadow: 0 2px 3px #000;
}
